.ticket{
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    
}

.listID, .listCustomer, .listTitle, .notes, .active{
    padding: 6px;
    border: 1.5px solid black;
}

.listID{
    width: 30px;
    
}

.listCustomer{
    width: 150px;
    
}

.listTitle{
    width: 150px;
}

.notes {
    width: 250px;
}

.active{
    width: 60px;
}

header{
    margin-left: 30px;
    font-size: 40px;
    padding: 10px;
}

.addTicket{
    margin-left: 75px;
    padding-bottom: 5px;
}

button{
    height: 20px;
}

h1{
    color:#0e0f0f;
}

h1:hover{
    color:rgb(126, 134, 148);
}

h3:hover{
    color:rgba(0, 0, 0, 60%)
}